.body{
    background-image: url('image3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    text-align: center;
    padding-top: 300px;
}
.navigate {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 350px;
    
}
.a-element {
    padding: 10px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.home {
    text-align: center;   
}
.container{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: larger;
}
.image{
    border: 70px;
}
.about{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
}
.services{
    text-align: center;
}
.para{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: larger;
}
.contact{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
}